ul {
	list-style-type: none;
	position: relative;
	width: 100%;
}

li {
	position: relative;
	width: 100%;
	padding-bottom: 5px;
}

span.button {
	position: absolute;
	right: 100px;
	top: -4px;
}

div#admin {
	width: 88%;
	min-width: 400px;
	border: 1px solid #000000;
	background-color: #ffffff;
	margin: 5%;
	z-index: 200;
	position: absolute;
	visibility: hidden;
}

div#admin_menu {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	white-space: nowrap;
	z-index: 500;
}

#pathname {
	width: 80%;
}

