<div style="left: 147px; top: 100px; " id="label0" class="label"><div>Name</div></div><div style="left: 193px; top: 96px; " id="textbox0" class="textbox"><div><input class="textstore" type="text" style="width:100px; "></div></div><div style="left: 148px; top: 134px; " id="label1" class="label"><div>Class</div></div><div style="left: 193px; top: 130px; " id="textbox1" class="textbox"><div><input class="textstore" type="text" style="width:100px; "></div></div>